.floors{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  div{
    margin-left: 40px;
    div{
      width: 250px;
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 6px;
      button{
        width: 60px;
        height: 40px;
        background: red;
        color: black;
        border: 0;
        border-radius: 4px;
        color: white;
      }
    }
  }
  img{
    width: 300px;
    &.block{
      width: 600px;
      margin-left: -120px;
      transform: rotate(90deg);
    }
  }
}