.apartments{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  div{
    div{
      width: 250px;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      button{
        width: 100px;
        height: 50px;
        background: red;
        color: white;
        border-radius: 6px;
        border: 0;
      }
    }
  }
  img{
    width: 300px;
    &.block{
      width: 600px;
      margin-left: -120px;
      transform: rotate(90deg);
    }
  }
}